body{
    background-color: #FF0000;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}
.header{
    display:flex;
    justify-content:space-between;
    background-color: #00FF00;
    border:5px solid ;  
    border-radius: 20px;
}
.menu{
    background-color: #0000FF;
    border:5px solid ;  
    border-radius: 20px;
}
.item{
    border:5px #64D1F9;
    border-width: 5px;
    border-style: solid;
    text-decoration-color: #F4260F;
}

.item:hover p{
    position:relative;
}

.item:hover img{
    transform: scale(1.2);
}

a:link{
    color: white;
} 
a:visited{
    color: white;
}

a:link{
    text-decoration: none
}
